@charset "utf-8";

body {
	padding: 0px;
	margin: 0px;
	background: #ebeeef;
}

.a-default {
	color: #333;
	text-decoration: none;
}

.a-default:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and ( min-width: 800px ) { /* desktop */
	.pc-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}
}

@media screen and ( max-width: 800px ) { /* mobile */
	.pc-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}
}